html, body { width: 100%; height: 100%; overflow: visible;  }

@font-face {
	font-family: "gibson";
	src: url("../fonts/Canada Type - Gibson-Light");
}


h1 { 
	font-family:"gibson";
	font-size: 12pt;


 }
  .blackbar h2 a{
	margin:0;  
	padding: 40px; 
	float: left; 
	clear: left;
	position: relative;
  font-family: "gibson";
  font-size: 25pt;

}
#wrapper {
	margin-right: 25px;
}
 #wrapper h1 a{
	margin-top: 40px; 
	margin-bottom: 0; 
	position: relative;
    float:right;
	margin-right: 50px;
}
 #wrapper h1 span{
  text-decoration: underline;
}

 /*#wrapper h1 a { 
 	margin-top: 50px;
 	text-align: center;
	margin-bottom: 0;
  }*/


 
#square {
	float:left;
	margin:0 auto;
	display: block;
	text-align: center;
	margin-left: 40px;
	margin-top: 5px;
}
#square ul p{
	font-size: 8pt;
	margin-top: 5px;
	}

#square ul a img {
	width: 100%;
	height: 100%;
	border-style: hidden;

}
#square ul a img:hover {
	opacity: 0.5;

}
#square ul li { 
	font-family: "gibson";
	font-size: 12pt;
	color: black;
	text-align: center;
	float: left;
	background: url("") center center no-repeat;
	background-color: white;
	width: 260px;
	height: 260px;
	margin:20px;
	margin-bottom: 50px;

	/*margin-right: 15px;*/
	
	
	
    
}











