/*//RESEARCH//*/

body {
	background: #606060;
	font-size: 0;
	margin: 0;
/*	overflow: hidden;*/
}

#allImages {
	opacity: 1;
	display: block;
	height: 100vh;
	cursor: move;
}

.hoverContainer {
	position: absolute;
}

.images {
	position: relative;
	max-width: 300px;
	max-height: 300px;
	height: auto;
	cursor: move;
}

.text {
	position: absolute;
	color: white;
	width: 400px;
	height: auto;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	display: none;
	cursor: move;
}

.videos {
	width: 270px;
  	height: 100%;
	cursor: move;
}

.pdf {
	position: absolute;
	cursor: move;
	width: 250px;
	height: auto;
}

iframe {
	width: 100% ;
  	height: auto ;
  	border: 2px black solid;
	/*background-color: black;*/
}

div {
	font-size: 10pt;
	font-family: Times;
}



