/*//RESEARCH//*/

body {
	background: #606060;
	font-size: 0;
	margin: 0;
	overflow: hidden;
}



#allImages {
	opacity: 1;
	display: block;
	height: 100vh;
	cursor: move;
}

.hoverContainer {
	position: absolute;
}


.images {
	position: relative;
	max-width: 305px;
	max-height: 300px;
	height: auto;
	cursor: move;
}

.text {
	position: absolute;
	color: white;
	width: 300px;
	height: auto;
	top: 0%;
	left: 0%;
	/*transform:translate(-50%,-50%);*/
	display: none;
	cursor: move;
}

.containerVid {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	
}


.videos {
	width: 270px;
  	height: 100%;
	cursor: move;
}




#add_here {
	font-size: 12pt;
	font-family: "Helvetica";
	color: blue;
}

/*.pdf {

	position: absolute;
	max-width: 230px;
	max-height: 230px;
	height: auto;
	cursor: move;
}*/
.researchPaper {
	position: absolute;
}

a {
	position: absolute;
	text-decoration: none;

}

.textPdf {
	position: absolute;
	/*max-width: 305px;
	max-height: 300px;*/
	/*height: auto;*/
	/*color: black;*/
	cursor: pointer;

}

.research {
	font-size: 12pt;
	font-family: "Helvetica";
	color: blue;
}

.triangle {
	font-size: 12pt;
	font-family: "Helvetica";
	color: blue;
}

iframe {
	width: 100% ;
  	height: auto ;
  	border: 2px black solid;
	/*background-color: black;*/
}

div {
	font-size: 10pt;
	font-family: Helvetica;
}



