*{
    box-sizing: border-box;
}

html, body { width: 100%; height: 100%; }
@font-face { font-family: "gibson","helvetica","avenir"; src: url("./fonts/ctgl.otf"); }

body {
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: "gibson", "helvetica", "avenir";
}



h1, h3, p {
    font-family: "gibson", "helvetica", "avenir";
    font-weight: lighter;
    }

h1 { 
        position: fixed;
        font-size: 15px;  
        letter-spacing: 3px; 
        margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 150px;
     height: 30px;   
        
    }

.main a h3 {

    font-size: 10pt;
    text-align: left;

}
.main{
     position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 150px;
     height: 0px;   
}



a {
    text-decoration: none;
    color: black;
}



.footer p {
    font-size: 6pt;
    text-align: center;
    margin: 0 auto;
    bottom: 10px;
    left: 47%;
    position:fixed;

}

.image img {
    
    width: 100px;
    height: 150px;
    position: absolute;
     margin: auto;
     top: -300px;
     right: 0;
     bottom: 0;
     left: 0;
    
}
/*PHOTOGRAPHY/*/
.photo img {

    position: fixed;
    top: 15%;
    left: 47%;
    width: 230px;
    height: 160px;
    margin-left: -70px;

}
/*CODING*/
.coding-image img {
   width: 240px;
    height: 130px;
    position: absolute;
     margin: auto;
     top: -300px;
     right: 0;
     bottom: 0;
     left: 0;
}

/*GRAPHICDESIGN*/
.graphicphoto img{
    width: 150px;
    height: 200px;
    position: absolute;
     margin: auto;
     top: -300px;
     right: 0;
     bottom: 0;
     left: 0;
}

.sidebar {
    font-family: "gibson";
    font-weight: lighter;
    font-size: 8pt;
    color: black;
    float: left;
    position: fixed;
    right: 80px;
    top: 2%;
}

.side-bar {
    font-family: "gibson";
    font-weight: lighter;
    font-size: 8pt;
    color: black;
    position: fixed;
    right: 15px;
    top: 2%;
    float: left;
}

.contact {
    font-family: "gibson";
    font-weight: lighter;
    font-size: 8pt;
    color: black;
    position: fixed;
    right: 105px;
    top: 2%;
    float: left;
}

.text{
    position: fixed;
    width: 300px;
    height: 200px;
    top: 358px;
    right: 0;
    left: 37%;
    bottom: 0;
    

}

.about {
   
    font-size: 8pt;
    font-weight: lighter;
    font-family: "gibson";
    color: black;
    line-height: 13px;
}

.phone, .email {
    
    font-size: 8pt;
    font-weight: lighter;
    font-family: "gibson";
    color: black;
    line-height: 13px;

}

.email {
    margin-top: 30px;
}

.contact_fixed h1 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


