*{
    box-sizing: border-box;
}

html, body { width: 100%; height: 100%; }
@font-face { font-family: "gibson","helvetica","avenir"; src: url("./fonts/ctgl.otf"); }

body {
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: "gibson", "helvetica", "avenir";
}



h1, h3, p {
    font-family: "gibson", "helvetica", "avenir";
    font-weight: lighter;
    }

.wrapper {
    position:relative;
    top: 40vh;
    right: 50vw;
    transform: translate(50%);
}

.logoname {
    position: relative;
    top: 0;
    right: 50vw;
    transform: translate(50%);
     }

h1 { 
   font-size: 1.5vw; 
    letter-spacing: 3px;     
    }

.projects{
     position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%);
}
.main{
    position: fixed;
    top: 0;
    left: 50vw;
    transform: translate(-50%);
}
.main a  {
    font-size: 0.8vw;

}


a {
    text-decoration: none;
    color: black;
}



.footer p {
    font-size: 0.7vw;
    text-align: center;
    margin: 0 auto;
    position:fixed;
    bottom: 2vh;
    left: 50vw;
    transform: translate(-50%);

}

.image img {
    
    width: 100px;
    height: 150px;
    position: absolute;
     margin: auto;
     top: -300px;
     right: 0;
     bottom: 0;
     left: 0;
    
}
/*PHOTOGRAPHY/*/
.wrapper_p {
    position: fixed;
    top: 35vh;
}
.photo_title h1{
    font-size: 1.2vw;
}
.m_photo{
    position: absolute;
    top: 0;
    left: 50vw;
    transform: translate(-50%);
    width: 20vw;

}
.project_photo {
    position: fixed;
    top: 10vw;
    left: 50%;
    transform: translate(-50%);

}
.project_photo h3 {
  font-size: 0.8vw;

}

.photo_main {
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%);
   
}

.photo_main img{
    width: 13vw;
    height: auto;
   
}
/*CODING*/
.wrapper_c {
    position: fixed;
    top: 35vh;
}
.code_title h1{
    font-size: 1.2vw;
}

.m_code{
    position: absolute;
    top: 0;
    left: 50vw;
    transform: translate(-50%);
    width: 20vw;

}
.project_coding {
    position: fixed;
    top: 9vw;
    left: 50%;
    transform: translate(-50%);

}
.project_coding h3 {
  font-size: 0.8vw;

}
.coding-image {
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%);
   
}

.coding-image img{
    width: auto;
    height: 15vh;
   
}

/*GRAPHICDESIGN*/
.wrapper_g {
    position: fixed;
    top: 25vh;
}

.m_graph{
    position: absolute;
    top: 0;
    left: 50vw;
    transform: translate(-50%);
    width: 20vw;
}


.grafik h1 {
    font-size: 1.2vw;
    text-align: center;
}

.project_grafik {
    position: fixed;
    top: 14vw;
    left: 50%;
    transform: translate(-50%);

}

.project_grafik h3 {
  font-size: 0.8vw;

}
.graphicphoto {
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%);

   
}
.graphicphoto img{
    width: 10vw;
    height: auto;
   
}

/*CONTACT*/
.wrapper_cont{
  position: fixed;
    top: 40vh;  
}
.contact_fixed {
   /*position: absolute;
    top: 0;
    left: 50vw;
    transform: translate(-50%);*/
    
}
.contact_title h1{
    font-size: 1.2vw;
    text-align: center;
}

.text {
    position: relative;
    width: 24vw; 
    top: 0;
    left: 50vw;
    transform: translate(-50%);
    
}

.about {
   position: relative;
    font-size: 1.2vw;
    line-height: 2.5vh;
    font-weight: lighter;
    font-family: "gibson", "helvetica", "avenir";
    color: black;
}

.phone, .email {
    position: relative;
    margin-top: 20px;
    font-size: 1.2vw;
    font-weight: lighter;
    font-family: "gibson", "helvetica", "avenir";
    color: black;

}

.email {
    margin-top: 30px;
}

/*EXTRA*/

.left-side{
    width: 15vw;
    position: fixed;
    right: -3vw;
    top: 2vh;
}

.side {
    display: inline-block;
    margin-right: 1vw;
}
.sidebar {
    font-family: "gibson", "helvetica", "avenir";
    font-weight: lighter;
    font-size: 0.8vw;
    color: black;
    position: relative;
   
}

.side-bar {
    font-family: "gibson", "helvetica", "avenir";
    font-weight: lighter;
    font-size: 0.8vw;
    color: black;

  
    
}

.contact {
    font-family: "gibson", "helvetica", "avenir";
    font-weight: lighter;
    font-size: 0.8vw;
    color: black;
    position: relative;
    display: inline-block;
        
}

.square {
    width: 15px;
    height: 15px;
    background-color: black;
    position: fixed;
    top: 2%;
    left: 1%;
    cursor: pointer;
}

.back {
    font-family: "gibson", "helvetica", "avenir";
    font-weight: lighter;
    font-size: 8pt;
    color: black;
    position: fixed;
    top: 1%;
    left: 3%;
    opacity: 0;
}
