

html, body { width: 100%; height: 100%; }
@font-face { font-family: "gibson"; src: url("../fonts/ctgl.otf"); }


body {
   margin: 0;
   padding: 0;
   font-size: 0;
   
}
ul {
	list-style-type: none;
}

a {

	color: black;
    text-decoration: none;

}

h1{
	font-family: "gibson", "helvetica", "avenir";
	font-weight: lighter;
	 font-size: 2.1vmin;  
     letter-spacing: 3px; 
     text-align: center;
     position: absolute;
     width: 100%;
     top: 20%;
     
     
}

p {
	font-family: "gibson", "helvetica", "avenir";
	font-weight: lighter;
	font-size: 8pt;
	position: absolute;
	margin-bottom: 40px;
}


/*.five-vertical img {
	position: absolute;
	top: 120%;
	left: 25%;
	width: 20%;
	height: auto;
}
.six-vertical img {
	position: absolute;
	top: 120%;
	left: 52%;
	width: 20%;
	height: auto;
}

.three-vertical img {
	position: absolute;
	top: 64%;
	left: 52%;
	width: 20%;
	height: auto;
}

.four-vertical img {
	position: absolute;
	top: 64%;
	left: 25%;
	width: 20%;
	height: auto;
}


.one img{
	position: absolute;
	top: 30%;
	left: 23%;
	width: 25%;
	height: auto;
}

.two img{
	position: absolute;
	top: 30%;
	left: 50%;
	width: 25%;
	height: auto;
}
.three img {
	position: absolute;
	top: 64%;
	left: 23%;
	background-color: black;
	width: 25%;
	height: auto;
}

.four img {
	position: absolute;
	top: 64%;
	left: 50%;
	background-color: black;
	width: 25%;
	height: auto;
}
	
.five img {
	position: absolute;
	top: 98%;
	left: 23%;
	background-color: black;
	width: 25%;
	height: auto;
}


.six img {
	position: absolute;
	top: 98%;
	left: 50%;
	background-color: black;
	width: 25%;
	height: auto;
	margin-bottom: 50px;
	
}*/

/*DOCUMENTARY*/
.pcolumns{
	float:left;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pleft {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%);
	float: left;
	width: 67%;
	height: 100%;
	overflow:scroll;
	margin: 0 auto;
}

.pleft ul li {
	margin: 0 auto;
	width: 100%;
	display: table;
	padding: 5vmin 5vmin 5vmin 5vmin;
}
.pleft ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 60px 20px 0px 0px;
	padding-top: 1%;
	margin: 0 auto;
	width:100%;
}

/*.one_document img {
	position: absolute;
	top: 40%;
	left: 23%;
	width: 25%;
	height: auto;
}

.two_document img {
	position: absolute;
	top: 30%;
	left: 52%;
	width: 23%;
	height: auto;
}

.three_document img {
	position: absolute;
	top: 95%;
	left: 23%;
	background-color: black;
	width: 25%;
	height: auto;
}

.four_document img {
	position: absolute;
	top: 95%;
	left: 50%;
	background-color: black;
	width: 25%;
	height: auto;
}

.five_document img {
	position: absolute;
	top: 128%;
	left: 23%;
	background-color: black;
	width: 25%;
	height: auto;
}


.six_document img {
	position: absolute;
	top: 128%;
	left: 50%;
	background-color: black;
	width: 25%;
	height: auto;
	margin-bottom: 50px;
	
}*/

/*.seven img {
	position: absolute;
	top: 161%;
	left: 23%;
	background-color: black;
	width: 25%;
	height: auto;
	margin-bottom: 50px;
	
}

.eight img {
	position: absolute;
	top: 161%;
	left: 50%;
	background-color: black;
	width: 25%;
	height: auto;
	margin-bottom: 50px;
	
}
/*
FASHION*/


/*.sevenfashion img{
	position: absolute;
	top: 178%;
	left: 50%;
	background-color: black;
	width: 25%;
	height: auto;
}

.eightfashion img{
	position: absolute;
	top: 178%;
	left: 23%;
	background-color: black;
	width: 25%;
	height: auto;
	margin-bottom: 50px;
}

/*DIVISION*/

/*.one_d img {
	position: absolute;
	top: 25%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}

.two_d img {
	position: absolute;
	top: 70%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}

.three_d img {
	position: absolute;
	top: 120%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}

.four_d img {
	position: absolute;
	top: 165%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}
.five_d img {
	position: absolute;
	top: 215%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}

.six_d img {
	position: absolute;
	top: 260%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}
.seven_d img {
	position: absolute;
	top: 310%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}
.eight_d img {
	position: absolute;
	top: 355%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}
.nine_d img {
	position: absolute;
	top: 402%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}
.ten_d img {
	position: absolute;
	top: 455%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}
.eleven_d img {
	position: absolute;
	top: 505%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}

.twelve_d img {
	position: absolute;
	top: 550%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}
.thirteen_d img {
	position: absolute;
	top: 600%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}
.fourteen_d img {
	position: absolute;
	top: 650%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}
.fifteen_d img {
	position: absolute;
	top: 700%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}
.sixteen_d img {
	position: absolute;
	top: 750%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}

.seventeen_d img {
	position: absolute;
	top: 800%;
	left: 50%;
	width: 49%;
	height: auto;
	transform: translate(-50%);
}*/


.left-side{
    width: 200px;
    height: 30px;
    position: fixed;
    right: -2%;
    top: 2%;
}

.side{
    display: inline-block;
    margin-right: 20px;
}
.sidebar {
    font-family: "gibson", "helvetica", "avenir";
    font-weight: lighter;
    font-size: 8pt;
    color: black;
    position: relative;
   
}

.side-bar {
    font-family: "gibson", "helvetica", "avenir";
    font-weight: lighter;
    font-size: 8pt;
    color: black;
    position: relative;
  
    
}

.contact {
    font-family: "gibson", "helvetica", "avenir";
    font-weight: lighter;
    font-size: 8pt;
    color: black;
    position: relative;
    
    
}


.square {
    width: 10px;
    height: 10px;
    background-color: black;
    position: fixed;
    top: 2%;
    left: 1%;
    cursor: pointer;
}

.footer p {
    font-size: 6pt;
    text-align: center;
    bottom: 10px;  

}





