@font-face {
	font-family: 'authenticSans';
	src: url('./assets/fonts/AUTHENTIC-Sans.otf'); 
}
body {
	position: fixed;
	top: 50%;
	left: 50%;	
	transform: translate(-50%, -50%);
}

.footer p {
	font-size: 8pt;
	font-family: "authenticSans";

}

h1 {
	font-family: "authenticSans";
	letter-spacing: 1pt;
}

a {
	font-family: "authenticSans";
}