body {
	position: fixed;
	top: 50%;
	left: 50%;	
	transform: translate(-50%, -50%);
}

.footer p {
	font-size: 8pt;
	font-family: "Authentic Sans";

}

h1 {
	font-family: "Authentic Sans";
	letter-spacing: 1pt;
}

a {
	font-family: "Authentic Sans";
}